body {
  background-color: #101010;
  font-family: "Inconsolata", monospace;
  display: grid;
  place-content: center;
}

.main-content {
  display: grid;
  place-content: center;
}

button {
  background: #60f;
  font-size: 3vw;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding: 1em;
  border: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

h1 {
  color: white;
  margin-top: 2em;
  font-size: 5vw;
  letter-spacing: 0.5em;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
  }

  button {
    font-size: 5vw;
  }
}
